@font-face {
	font-family: Amazon-Ember-Medium;
	src: url(../assets/fonts/Amazon-Ember-Medium.ttf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	max-width: 1500px;
	overflow: hidden;
	font-size: 1vw;
	font-family: Amazon-Ember-Medium;
}

body a{
	text-decoration: none;
}

body a:visited{
	color: white;
}