@font-face {
	font-family: Amazon-Ember-Medium;
	src: url(../assets/fonts/Amazon-Ember-Medium.ttf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 99vw;
	overflow-x: hidden;
	font-size: 1vw;
	min-width: 1000px;
	max-width: 1600px;
	font-family: Amazon-Ember-Medium;
}

body a{
	text-decoration: none;
}

body a:visited{
	color: currentColor;
}

