.product-wrap{
	width: 100%;
	margin-top: 1.3rem;
	padding: 0 1.15rem 1.15rem;
	display: flex;
	justify-content: space-between;
	font-size: 0.88rem;
	font-weight: 300;
	color: rgb(15, 17, 17);
}

/* Image Gallery */

.product-pics-wrap{
	/* width: 30rem; */
	border: 1px solid red;

}

.thumbnail-img{
	height: 52px;
	width: 40px;
	border: 1px solid rgb(224, 224, 224);
	margin: 4px 0 4px 6px;
	cursor: pointer;
}



/* Product Information */

.product-info-wrap{
	width: 45.5%;
}

.product-review-a-decor {
	font-size: 0.9rem;
	color: rgb(0, 113, 133);
}

.product-review-a-decor a:hover{
	text-decoration: underline;
	color: rgb(199, 81, 31);
}

.product-info-wrap h1{
	font-family: Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0;
	color: rgb(86, 89, 89);
}

/* Reviews Short */

.costumer-review-wrap{
	width: 100%;
	height: 1.5rem;
	display: flex;
	justify-content: start;
	align-items: center;
}

.stars-wrap{
	width: 6.5rem;
	height: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
}

.stars{
	margin-right: 0.4rem;
	background: url('../assets/imgs/icons/McBZv0ZvnbehkIx.png') no-repeat -205px -398px;
	width: 94px;
	height: 17px;
}

.chevron-down{
	background: url('../assets/imgs/icons/McBZv0ZvnbehkIx.png') no-repeat -112px -297px;
	width: 7px;
	height: 4px;
}

.num-raters,
.num-questions{
	padding: 0 0.3rem;
}

.product-info-wrap hr{
	margin-bottom: 1rem;
}

/* Price */

.price-wrap{
	display: flex;
	align-items: flex-start;
	padding: 0.2rem 0;
}

.product-tag-header{
	font-size: 0.9rem;
	color: rgb(86, 89, 89);
	vertical-align: top;
}

.price-range-container{
	margin-left: 0.4rem;
}

.price-range-container span{
	font-size: 1.13rem;
	color: rgb(177, 39, 4);
	padding: 0 0.2rem;
}

/* True Size */
.true-size-wrap{
	display: flex;
	align-items: center;
	margin-top: 0.3rem;
	margin-bottom: 1.3rem;
	cursor: pointer;
}

.v-sprite {
	background: url('../assets/imgs/icons/McBZv0ZvnbehkIx.png') no-repeat -345px -480px;
	width: 15px;
	height: 15px;
	margin-right: 0.1rem;
}

.true-size-text{
	padding: 0 0.3rem;
	color: rgb(6, 125, 98);
}

/* Size Choise */

.size-btn {
	height: 1.9rem;
	width: 6rem;
	margin: 0.8rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.85rem;
	color: rgb(15, 17, 17);
	background-color: rgb(240, 242, 242);
	border: 1px solid rgb(213, 217, 217);
	border-radius: 7px;
	box-shadow: rgba(15, 17, 17, 0.15) 0px 2px 5px 0px;
	cursor: pointer;
}

.size-btn:hover {
	filter: brightness(90%);
}

.size-btn-text{
	margin-right: 0.5rem;
}

/* Color Choise */

.color-wrap {
	display: flex;
}

.color-wrap span{
	color: rgb(15, 17, 17);
	font-size: 0.9rem;
	margin-left: 0.5rem;
}

/* Color Thumbnails */

.color-picker-thumb {
	display: flex;
	list-style: none;
}

/* Information Paragraphs */

.product-info-text-list {
	margin-top: 8px;
	margin-inline-start: 18px;
	margin-block-end: 4px;
	color: rgb(15, 17, 17);
	font-size: 0.88rem;
}

.product-info-text-list li{
	padding: 0.2rem 0;
}


/* Right Column */

.right-col {
	width: 16.5%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.social-media-icons{
	display: flex;
	margin-bottom: 0.8rem;
	color: rgb(0, 113, 133);
}

.social-media-icons a{
	margin: 0 0.4rem;
}

.share{
	font-size: 0.81rem;
}

.share:hover{
	text-decoration: underline;
	color: rgb(199, 81, 31);
}

.mail{
	background: url('../assets/imgs/icons/E6vgqiIirWgGb3f.png') no-repeat -256px -221px;
	width: 19px;
	height: 15px;
}

.facebook{
	background: url('../assets/imgs/icons/E6vgqiIirWgGb3f.png') no-repeat -237px -151px;
	width: 17px;
	height: 17px;
}

.twitter{
	background: url('../assets/imgs/icons/E6vgqiIirWgGb3f.png') no-repeat -192px -106px;
	width: 19px;
	height: 16px;
}

.pinterest{
	background: url('../assets/imgs/icons/E6vgqiIirWgGb3f.png') no-repeat -138px -14px;
	width: 17px;
	height: 18px;
}

/* Buy stack */

.add-to-cart-wrap{
	width: 100%;
	padding: 0.88rem 1.2rem;
	border: 1px solid rgb(213, 217, 217);
	border-radius: 8px;
}

.unselected{
	margin-bottom: 0.5rem;
	text-align: center;
}

.add-to-cart-wrap input[value="Add to Cart"]{
	width: 100%;
	padding: 0.4rem 0;
	margin-bottom: 12px;
	background-color: rgb(255, 216, 20);
	border: 1px solid rgb(252, 210, 0);
	border-radius: 20px;
	box-shadow: rgba(213, 217, 217, 0.5) 0px 2px 5px 0px;
}

.add-to-cart-wrap input[value="Add to List"]{
	width: 100%;
	padding: 0.4rem 0;
	margin-top: 12px;
	background-color: rgb(231, 233, 236);
	border: 1px solid rgb(141, 144, 150);
	border-radius: 3px;
	box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0px 0px inset;
}

